<!DOCTYPE html>
<html>
<head>
	<title>Movie Recommendation</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
	<div class="search-container">
		<form action="{{ url_for('submit_option') }}" method="POST">
			<div class="search-box">
				<input type="text" placeholder="Search..." onkeyup="getOptions(this.value)">
				<button type="submit"><i class="fa fa-search"></i></button>
			</div>
			<select name="search-options" id="search-options" onchange="submitForm()" style="display:none">
			</select>
		</form>
	</div>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
		function getOptions(input) {
			$.ajax({
				type: "POST",
				url: "{{ url_for('get_options') }}",
				data: {input: input},
				success: function(response) {
					var options = response.options;
					var select = document.getElementById("search-options");
					select.options.length = 0;
					if (options.length > 0) {
						for (var i = 0; i < options.length && i < 7; i++) {
							var option = document.createElement("option");
							option.value = options[i];
							option.text = options[i];
							select.add(option);
						}
						select.style.display = "block";
					} else {
						select.style.display = "none";
					}
				},
				error: function(xhr, status, error) {
					console.log(error);
					// handle error
				}
			});
		}

		function submitForm() {
			var select = document.getElementById("search-options");
			var option = select.options[select.selectedIndex].value;
			var input = document.getElementsByTagName("input")[0].value;
			if (option && input) {
				var form = document.getElementsByTagName("form")[0];
				form.submit();
			}
		}
	</script>
</body>
</html>