<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style1.css')}}">
</head>
<body>
    <div class="container">
        <h1 class="title">Movie Related to:-{{movie}}</h1>
        <div class="list">
            <div class="item">
                <img src="{{movieposter[0]}}" alt="" class="poster">
                <p class="movie-name"> {{movierelated[0]}}</p>
            </div>
            <div class="item">
                <img src="{{movieposter[1]}}" alt="" class="poster">
                <p class="movie-name"> {{movierelated[1]}}</p>
            </div>
            <div class="item">
                <img src="{{movieposter[2]}}" alt="" class="poster">
                <p class="movie-name"> {{movierelated[2]}}</p>
            </div>
            <div class="item">
                <img src="{{movieposter[3]}}" alt="" class="poster">
                <p class="movie-name"> {{movierelated[3]}}</p>
            </div>
            <div class="item">
                <img src="{{movieposter[4]}}" alt="" class="poster">
                <p class="movie-name"> {{movierelated[4]}}</p>
            </div>
        </div>
    </div>
</body>
</html>